<template>
  <div id="app" class="container d-flex flex-column">
      <header>
        <wq-progress :value="quoteProgress" />
        <div class="row">
          <div class="col pt-5">
            <h1>
              Wonderful Quotes
              <small>❤️ You'll love it</small>
            </h1>
          </div>
        </div>
        <wq-add v-if="quoteProgress < 1" />
        <div v-if="quoteProgress >= 1" class="alert alert-warning">Okay! The party is over. You have to remove some quotes now.</div>
      </header>

      <div class="card-columns" v-if="quoteProgress > 0">
          <wq-quote-card v-for="quote in quotes" :key="quote.quote" :quote="quote" />
      </div>
      <div v-else class="alert alert-info">
        <strong>Show Time!</strong> Spread the love. Add some quotes!
      </div>


      <footer class="w-100 mt-auto mb-3 align-self-baseline text-center">
        Built with ❤️ and Vue.js
      </footer>
  </div>
</template>

<script>
import _ from 'lodash';

import $bus from './components/events';

import AddQuote from './components/AddQuote.vue'
import QuoteCard from './components/QuoteCard.vue'
import Progress from  './components/Progress.vue';

export default {
  components: {
    'wqAdd': AddQuote,
    'wqQuoteCard': QuoteCard,
    'wqProgress': Progress,
  },
  created() {
    let vm = this;
    $bus.$on('AddQuote', quote => {
      let duplicated = _.some(this.quotes, quote);
      if (!duplicated) {
        this.quotes = [quote].concat(this.quotes);
      } else {
        $bus.$emit('DuplicatedQuote', quote);
      }
    });

    $bus.$on('RemoveQuote', quote => {
      this.quotes = _.reject(this.quotes, quote);
    });
  },
  data() {
    return {
      maxQuotes: 10,
      quotes: [
        {author: 'Silvio Santos', quote: 'A pipa do vovô não sobe mais.'}
      ]
    }
  },
  computed: {
    quoteProgress() {
      return this.quotes.length / this.maxQuotes;
    }
  }
}
</script>

<style>
@import '~bootstrap/dist/css/bootstrap.min.css';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  width: 100%;
  height: 100%;
}
html, body {
  height: 100%;
  width: 100%;
  display: flex;
}
</style>
