<template>
    <div class="container">
        <app-header></app-header>
        <hr>
        <div class="row">
            <app-servers :servers="servers"></app-servers>
            <app-server-details></app-server-details>
        </div>
        <hr>
        <app-footer></app-footer>
    </div>
</template>

<script>
    import Header from './components/Shared/Header.vue';
    import Footer from './components/Shared/Footer.vue';
    import Servers from './components/Server/Servers.vue';
    import ServerDetails from './components/Server/ServerDetails.vue';
    import serversEventBus from './components/Server/EventBus';

    export default {
        components: {
            'app-header': Header,
            'app-servers': Servers,
            'app-server-details': ServerDetails,
            'app-footer': Footer,
        },

        created() {
            serversEventBus.$on('changeStatus', (serverID, newStatus) => {
                this.servers.map(item => {
                    if (serverID === item.id) {
                        item.status = newStatus;
                    }
                });
            });
        },

        data() {
            return {
                servers: [
                    {id: 1, status: 'Operational'},
                    {id: 2, status: 'Degraded performance'},
                    {id: 3, status: 'Offline'},
                    {id: 4, status: 'Operational'},
                ],
            };
        }
    }
</script>

<style>

</style>
