<template>
    <li class="list-group-item"
        @click="select">Server {{ server.id }} - <span class="label" :class="labelClass">{{ server.status }}</span></li>
</template>

<script>
import eventBus from './EventBus';

const LABEL_CLASSES = {
    operational: 'label-success',
    'degraded-performance': 'label-warning',
    offline: 'label-danger',
};

export default {
    props: {
        server: Object,
    },

    computed: {
        labelClass() {
            let status = this.server.status.replace(/[^a-zA-Z0-9]/, '-').toLowerCase();
            return LABEL_CLASSES[status] || 'label-default';
        },
    },

    methods: {
        select() {
            eventBus.$emit('selectServer', this.server);
        }
    }
}
</script>


<style scoped>
    .list-group-item {
        cursor: pointer;
    }
    .list-group-item:hover {
        background-color: rgba(255,171,42,.3);
    }
</style>
