<template>
    <div class="col-xs-12 col-sm-6">
        <ul class="list-group">
            <app-server-list-item
                v-for="server in servers" :key="server.id"
                :server="server" />
        </ul>
    </div>
</template>

<script>
import ServerListItem from './ServerListItem.vue';

export default {
    components: {
        'app-server-list-item': ServerListItem,
    },

    props: {
        servers: Array,
    }
};
</script>

<style>

</style>
