<template>
    <div class="col-xs-12 col-sm-6">
        <p v-if="!server">Server Details are currently not updated</p>
        <div v-else>
            <p>Server #{{ server.id }} <span class="label" :class="labelClass">{{ server.status }}</span></p>

            <p>Change server status: </p>
            <div class="actions">
                <button :disabled="server.status == 'Operational'" class="btn btn-success" @click="changeStatus('Operational')">Operational</button>
                <button :disabled="server.status == 'Degraded Performance'" class="btn btn-warning" @click="changeStatus('Degraded Performance')">Degraded Performance</button>
                <button :disabled="server.status == 'Offline'" class="btn btn-danger" @click="changeStatus('Offline')">Offline</button>
            </div>
        </div>
    </div>
</template>

<script>
import eventBus from './EventBus';

const LABEL_CLASSES = {
    operational: 'label-success',
    'degraded-performance': 'label-warning',
    offline: 'label-danger',
};

export default {
    data() {
        return {
            server: null,
        }
    },

    methods: {
        changeStatus(status) {
            eventBus.$emit('changeStatus', this.server.id, status);
        }
    },
    computed: {
        labelClass() {
            let status = this.server.status.replace(/[^a-zA-Z0-9]/, '-').toLowerCase();
            return LABEL_CLASSES[status] || 'label-default';
        },
    },
    created() {
        eventBus.$on('selectServer', server => {
            this.server = server;
        });
    }
};
</script>

<style>

</style>
