<template>
  <div id="app" class="container">
    <button class="btn btn-lg btn-info" @click="selectedComponent = 'TheBlue'">Load blue</button>
    <button class="btn btn-lg btn-success" @click="selectedComponent = 'TheGreen'">Load green</button>
    <button class="btn btn-lg btn-danger" @click="selectedComponent = 'TheRed'">Load red</button>

    <hr>
    <component :is="selectedComponent">
      <p>
        Spicy jalapeno bacon ipsum dolor amet flank fatback hamburger, non turkey excepteur cupim ground round ex deserunt consectetur. Ut in cupim ham hock, corned beef bacon ham culpa. Ground round et meatball kielbasa aliquip shankle laboris short ribs. Ex ut mollit commodo frankfurter filet mignon swine laborum in ham hock picanha enim.
      </p>
      </p>Does your lorem ipsum text long for something a little meatier? Give our generator a try… it’s tasty!</p>
    </component>
  </div>
</template>

<script>
import TheBlue from './components/TheBlue.vue'
import TheGreen from './components/TheGreen.vue'
import TheRed from  './components/TheRed.vue'

export default {
  name: 'app',
  components: {
    TheBlue,
    TheGreen,
    TheRed,
  },
  data () {
    return {
      selectedComponent: 'TheBlue'
    }
  }
}
</script>

<style>
@import '~bootstrap/dist/css/bootstrap.css';

* {
  box-sizing: border-box;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  padding: 1rem;
}
</style>
