<template>
  <form>
    <div><label>First Name</label>
      <input
        v-model="firstName"
        type="text"
        required>
      <label>Last Name</label>
      <input
        v-model="lastName"
        type="text"
        required>
    </div>
    <div><label>E-mail</label>
      <input
        v-model="email"
        type="text">
    </div>
    <div><label>Password</label>
      <input type="password" v-model="password">
    </div>
    <div><label>Save data?</label><br >
    {{ saveData }}
      <input
        v-model="saveData"
        type="radio"
        value="yes"
        name="save"> Yes
      <input
        v-model="saveData"
        type="radio"
        value="no"
        name="save"> No
    </div>
    <div><button @click.prevent="save">Sign Up</button></div>
  </form>
</template>

<script>
export default {
  data () {
    return {
      firstName: '',
      lastName: '',
      email: '',
      password: '',
      saveData: 'no'
    }
  },
  methods: {
    save () {
      if (this.saveData === 'no') {
        console.log(this.saveData)
        alert(`Sorry, you didn't save the data :(`)
        return
      }
      this.$emit('save', {
        firstName: this.firstName,
        lastName: this.lastName,
        email: this.email,
        password: this.password
      })
    }
  }
}
</script>
