<template>
  <div>
    <div>Full name: <UserFullName
      :first="user.firstName"
      :last="user.lastName" /></div>
    <div>Email: {{ user.email }}</div>
    <div> {{ password }} <button @click="togglePasswordVisibility">
      <span v-if="showPassword">Hide password</span>
      <span v-else>Show password</span>
    </button>
    </div>
  </div>
</template>

<script>
import UserFullName from './UserFullName.vue'

export default {
  components: {
    UserFullName
  },
  props: {
    user: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      showPassword: false
    }
  },
  computed: {
    password () {
      return this.showPassword
        ? this.user.password
        : Array.from(this.user.password).map(() => '').join('*')
    }
  },
  methods: {
    togglePasswordVisibility () {
      this.showPassword = !this.showPassword
    }
  }
}
</script>
