<template>
  <span>{{ name }}</span>
</template>
<script>
export default {
  props: {
    first: {
      type: String,
      required: true
    },
    last: {
      type: String,
      required: true
    }
  },
  computed: {
    name () {
      return `${this.first} ${this.last}`
    }
  }
}
</script>
