<template>
  <div id="app">
    <div v-if="!user">
      <SignUpForm @save="saveUserData" />
    </div>
    <div v-else>
      <UserData :user="user" />
      <button @click="saveUserData(null)">SignUp Again</button>
    </div>
    <hr>

  </div>
</template>

<script>
import SignUpForm from './components/SignUpForm.vue'
import UserData from './components/UserData.vue'

export default {
  name: 'App',
  components: {
    SignUpForm,
    UserData
  },
  data () {
    return {
      user: null
    }
  },
  methods: {
    saveUserData (data) {
      this.user = data
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
