<script>
import _ from 'lodash';

import $bus from './events';

export default {
  computed: {
    extraClasses() {
      return this.hasErrors ? ['has-error'] : [];
    }
  },
  methods: {
    addQuote() {
      const data = {
        author: _.clone(this.author),
        quote: _.clone(this.quote)
      };
      this.hasErrors = false;
      this.author = '';
      this.quote = '';

      $bus.$emit('AddQuote', data);
    }
  },
  data() {
    return {
      quote: '',
      author: '',
      hasErrors: false,
    };
  },
  created() {
    $bus.$on('DuplicatedQuote', data => {
      this.hasErrors = true;
      this.quote = data.quote;
      this.author = data.author;
    });
  }
}
</script>

<template>
  <form class="mt-2 mb-3" @submit.prevent="addQuote()">
    <div class="row">
      <div class="col-6">
        <label for="AddQuote-quote" :class="{'text-danger': hasErrors}">Quote</label>
        <input
          id="AddQuote-quote" required
          type="text" class="form-control form-control-lg" :class="{'is-invalid': hasErrors}"
          placeholder="Something remarkable"
          v-model="quote" />
      </div>
      <div class="col-6">
        <label for="AddQuote-author" :class="{'text-danger': hasErrors}">Author</label>
        <input
          id="AddQuote-author" required
          type="text" class="form-control form-control-lg" :class="{'is-invalid': hasErrors}"
          placeholder="Author"
          v-model="author" />
      </div>

      <div class="col-12 mt3 text-danger" v-if="hasErrors">Oops! This wonderful quote was already added.</div>
    </div>
    <div class="row mt-2">
      <div class="col-3">
        <button class="btn btn-primary btn-lg">Add quote</button>
      </div>
    </div>
  </form>
</template>
