<script>
export default {
  props: {
    value: Number,
  },
  computed: {
    widthStyle() {
      return (this.value * 100) + '%';
    }
  }
}
</script>

<template>
  <div class="progress">
    <div class="progress-bar" role="progressbar" :style="{'width': widthStyle}"></div>
  </div>
</template>

<style scoped>
.progress {
  height: 0.3rem;
  position: fixed;
  top:0;
  left:0;
  right: 0;
  z-index: 10;
}
</style>
