<script>
import $bus from './events';

export default {
  props: {
    quote: Object
  },
  methods: {
    remove() {
      $bus.$emit('RemoveQuote', this.quote);
    }
  }
}
</script>

<template>
  <div class="card p-3">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
      @click="remove">
      <span aria-hidden="true">&times;</span>
    </button>
    <blockquote class="card-body mb-0">
      {{ quote.quote }}
      <footer class="blockquote-footer">
        <small>{{ quote.author }}</small>
      </footer>
    </blockquote>
  </div>
</template>

<style scoped>
.card > .card-body {
  min-width: 25%;
}
</style>
